# TestReport

- ea: `0x180011f20`
- end: `0x180011f86`
- name: `TestReport`
- size: `102`
- prototype: ``
- caller_count: `1`
- callee_count: `2`
- tags: `loader_planting`

## callers

- `0x1800112a0`

## callees

- `0x180011f20`
- `0x18005e260`

## import_xrefs

- `KERNEL32!GetProcAddress` at `0x180011f5f`
- `KERNEL32!GetProcAddress` at `0x180011f5f`
- `KERNEL32!GetModuleHandleW` at `0x180011f48`
- `KERNEL32!GetModuleHandleW` at `0x180011f48`

## string_xrefs

- `0x180011f41`: `kernelbase.dll`

## pseudocode

```c

```
